{% extends 'global/base.html' %}
{% load static %}
{% block title %}Gerador de Orçamentos{% endblock title %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'home/img/logo.png' %}" class="d-block mx-lg-auto img-fluid" alt="img" width="340" height="340" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Olá, {{ username }}!</h1>
        <p class="lead">O que deseja fazer?</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{% url 'products:products' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Produtos</button></a>
          <a href="{% url 'services:services' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Serviços</button></a>
          <a href="{% url 'estimates:estimates' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Orçamentos</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
